- @title = 'Cartridges list'
%h1 Cartridges
.container-fluid
  %h4
    - if params[:source_id].nil?
      %a{ href: "/cartridges/new"} Add new cartridge
    - else
      %a{ href: "/cartridges/new?source_id=#{@source_id}"} Add new cartridge in
      = Source.find(@source_id).name
      source.
.container-fluid
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %td Name
        %td Selectors count
        %td Source
        %td.text-center Control
        %td Copy
        %td Activity?
    %tbody
      - @cartridges.each do |cartridge|
        %tr{:class => cartridge.is_active ? "success" : "default" }
          %td
            %a{ href: "/cartridges/edit/#{cartridge._id}"}= cartridge.name
          %td
            %a{ href: "/cartridges?id=#{cartridge._id}", title: "active: #{cartridge.selectors.active.count}"}= cartridge.selectors.count
          %td= cartridge.source.name
          %td.text-center
            %a.btn.btn-info.btn-xs{ href: "/cartridges/check/#{cartridge._id}" }
              %span.glyphicon.glyphicon-check
              Check
            %a.btn.btn-info.btn-xs{ href: "/cartridges/edit/#{cartridge._id}"}
              %span.glyphicon.glyphicon-edit
              Edit
            %a.btn.btn-danger.btn-xs{ href: "/cartridges/destroy/#{cartridge._id}", onclick: "return ORLY();"}
              %span.glyphicon.glyphicon-remove
              Delete
          %td
            %a.copy-button{:href => "/cartridges/#{cartridge.source_id}", "data-target" => ".cart_copy", "data-toggle" => "modal", "data-cart-name" => "#{cartridge.name}", "data-source-name" => "#{cartridge.source.name}", "data-cart-id" => cartridge.id} Copy To
          %td= cartridge.is_active ? "Yes" : "No"
  = will_paginate @cartridges, renderer: BootstrapPagination::Sinatra

.container-fluid
  %form{:action => "/cartridges/copy", :method => "post"}
    %input{:type => "hidden", :name => "cartridge_id", :id => "cartridge_id", :value => ""}
    .modal.fade.cart_copy
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
            %h4.modal-title Copy
          .modal-body.form-horizontal
            %fieldset
              .form-group
                %label.col-md-3.control-label{:for => "source"} To
                .col-md-6
                  %select.form-control{:id => "source", :name => "source"}
                    - @sources.each do |source|
                      %option{:value => source._id, :selected => source._id.to_s == @source_id ? true : false}= source.name
              .form-group
                %label.col-md-3.control-label{:for => "cartridge_name"} With
                .col-md-6
                  %input.form-control.input-md{:id => "cartridge_name", :name => "cartridge_name", :type => "text", :placeholder => "new cartridge name", :required => "", :size => 20}
              %p.line{:style => "border-bottom: 1px solid #e5e5e5;"}
              .form-group
                %label.col-md-4.control-label{for: "cart_checkbox"}
                .col-md-4
                  .checkbox
                    %label{for: "copy_selectors"}
                      %input#copy_selectors{name: "copy_selectors", type: "checkbox", checked: "true"} Copy Selectors
                  .checkbox.copy-rules
                    %label{for: "copy_rules"}
                      %input#copy_rules{name: "copy_rules", type: "checkbox", checked: "true"} Copy Rules
                  .checkbox
                    %label{for: "copy_pm"}
                      %input#copy_pm{name: "copy_pm", type: "checkbox", checked: "true"} Copy PageManager

          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
            %button.btn.btn-primary{type: "submit"} Push!

%script{:type => 'text/javascript', :src => "javascripts/cartridge-copy-popup.js" }
