- @title = 'View tender'
%h1 Просмотр тендера
.container-fluid
  %table.table.table-hover.table-condensed.table-bordered
    %tbody
    - @fields_list.each_pair do |tender_field, value_type|
      %tr
        %td=tender_field
        %td
          - if @check_tender[tender_field.to_sym].kind_of? Array
            - @check_tender[tender_field.to_sym].each do |tv|
              - tv.each_pair do |key, value|
                = "#{key} - #{value}"
                %br
          - else
            = @check_tender[tender_field.to_sym]
        %td{:style => "min-width: 140px;"}
          - value_type.each do |vt|
            - if @selectors_data[vt.to_sym][:id].nil?
              - url = "/cartridges/edit/#{@cartridge._id}/add_s/#{vt}"
              - label = 'Create'
              - color = "color: red;"
            - else
              - url = "/cartridges/edit/#{@cartridge._id}/selector/#{@selectors_data[vt.to_sym][:id]}"
              - label = "Edit #{vt}"
              - color = "color: green;"
            %a{:href => url, :style => color}=label
            %br


.container-fluid
  .col-xs-5.col-md-offset-3
    %a.btn.btn-primary.btn-lg{:href => env['HTTP_REFERER'], :method => "get"} Назад
