- @title = 'Sources list'
%h1 Sources list
.container-fluid
  .col-lg-4.pull-right
    %form{:action => "/sources", :method => "get"}
      .input-group
        %input.form-control{:name => "search", :type => "text", :placeholder => "Search"}
        %span.input-group-btn
          %button.btn.btn-primary Искать

.container-fluid
  %h4
    %a{ href: "/sources/new"} Add new source
.container-fluid
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %td
        %td Name
        %td Tenders count
        %td Cartridge count
        %td Update frequency
        %td Edit
        %td Delete
        %td Activity?
    %tbody
      - @sources.each do |source|
        %tr{:class => source.is_active ? "success" : "default" }
          %td= @source_counter += 1
          - if source.url.empty?
            %td= source.name
          - else
            %td
              %a{ href: "#{source.url}", target: "_blank" }
                %b= source.name
          %td
            %a{ href: "/tenders?source_id=#{source.id}"}= source.tenders.count
          %td
            %a{ href: "/cartridges?source_id=#{source.id}", title: "Active: #{source.cartridges.active.count}"}= source.cartridges.count
          %td= source.tenders_update_frequency
          %td
            %a{ href: "/sources/edit/#{source.id}"} Edit
          %td
            %a{ href: "/sources/destroy/#{source.id}", onclick: "return ORLY();"} Delete
          %td= source.is_active ? "Yes" : "No"
  = will_paginate @sources, renderer: BootstrapPagination::Sinatra
