- @title = 'Sources list'
%h1 Sources list
.container-fluid
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %td Name
        %td Tenders count
        %td Selectors count
        %td Update frequency
        %td Delete
        %td Activity?
    %tbody
      - @sources.each do |source|
        %tr{:class => source.is_active ? "success" : "default" }
          %td
            %a{ href: "/sources/edit/#{source.id}"}= source.name
          %td= source.tenders.count
          %td= source.selectors.count
          %td= source.tenders_update_frequency
          %td
            %a{ href: "/sources/destroy/#{source.id}"} Delete
          %td= source.is_active ? "Yes" : "No"

.container-fluid
  %p
    %a{ href: "/sources/new"} Add new source
