- @title = 'Tenders list'
- if params[:source_id].nil?
  %h1
    Tenders list.
    %br
    Total count - [
    %b
      #{@tenders_count}
    ]
- else
  %h1
    Tender list of
    %a{ href: "/sources/edit/#{@source._id}"}= @source.name
    %br
    Count - [
    %b
      #{@tenders_count}
    ]
.container-fluid
  %table.table.table-striped.table-condensed
    = will_paginate @tenders, renderer: BootstrapPagination::Sinatra
    %thead
      %tr
        %td Code by source
        %td Source
        %td Tender title
        %td Link
        %td Created At
        %td Updated At
        %td Delete
    %tbody
      - @tenders.each do |tender|
        %tr
          %td
            %a{ href: "/tenders/show/#{tender.id}"}= tender.code_by_source
          %td
            %a{ href: "/tenders/#{tender.source_id}"}= tender.source.name
          %td= tender.title
          %td
            %a{ href: tender.source_link, target: :blank}= tender.source_link
          %td= tender.created_at
          %td= tender.updated_at
          %td
            %a{ href: "/tenders/#{tender._id}/destroy"} Delete

= will_paginate @tenders, renderer: BootstrapPagination::Sinatra
