- @title = 'Tenders list'
- if params[:source_id].nil?
  %h1
    Tenders list.
    %br
    Total count - [
    %b
      #{@tenders_count}
    ]
  .container-fluid
  %form{:action => "/tenders", :method => "get"}
    .form-group
    С
    %input.datepicker{:name => "start_date", :style => "width: 100px;", :type => "text", :value => @start_date}
    по
    %input.datepicker{:name => "end_date", :style => "width: 100px;", :type => "text", :value => @end_date}
    %input.btn.btn-primary{:name => "submint", :type => "submit", :value => "Искать" }
- else
  %h1
    Tender list of
    %a{ href: "/sources/edit/#{@source._id}"}= @source.name
    %br
    Count - [
    %b
      #{@tenders_count}
    ]
  .container-fluid
  %form{:action => "/tenders", :method => "get"}
    %input{ :name => "source_id", :type => "hidden", :value => @source._id}
    С
    %input.datepicker{:name => "start_date", :style => "width: 100px;", :type => "text", :value => @start_date}
    по
    %input.datepicker{:name => "end_date", :style => "width: 100px;", :type => "text", :value => @end_date}
    %input.btn.btn-primary{:name => "submint", :type => "submit", :value => "Искать" }
.container-fluid
  .col-lg-4.pull-right
    %form{:action => "/tenders", :method => "get"}
      .input-group
        %input.form-control{:name => "search", :type => "text", :placeholder => "Search", :value => params[:search]}
        %span.input-group-btn
          %button.btn.btn-primary Искать
.container-fluid
  %table.table.table-striped.table-condensed
    = will_paginate @tenders, renderer: BootstrapPagination::Sinatra
    %thead
      %tr
        %td Code by source
        %td Source
        %td Tender title
        %td Link
        %td Created At
        %td Updated At
        %td Delete
    %tbody
      - @tenders.each do |tender|
        %tr
          %td
            %a{ href: "/tenders/show/#{tender.id}"}= tender.code_by_source
          %td
            %a{ href: "/tenders?source_id=#{tender.source_id}"}= tender.source.name
          %td= tender.title
          %td
            %a{ href: tender.source_link, target: "_blank"}= tender.source_link
          %td= tender.created_at.strftime("%d %B %Y (%R)") if tender.created_at
          %td= tender.updated_at.strftime("%d %B %Y (%R)") if tender.updated_at
          %td
            %a{ href: "/tenders/#{tender._id}/destroy", onclick: "return ORLY();"} Delete

= will_paginate @tenders, renderer: BootstrapPagination::Sinatra

:javascript
  $('.datepicker').datepicker({
    format: 'dd.mm.yyyy',
    language: 'ru',
    autoclose: true,
    todayHighlight: true,
    weekStart: 1
  });
