- title = "Tenders list" + (params[:source_id].nil? ? "." : " of ")

%h1
  #{title}
  - unless params[:source_id].nil?
    %a{ href: "/sources/edit/#{@source._id}"}= @source.name
  %br
  Total count -
  %b [ #{@tenders_count} ]

.container-fluid
  %hr
  %form.form-horizontal{:action => "/tenders", :method => "get"}
    - unless params[:source_id].nil?
      %input{ :name => "source_id", :type => "hidden", :value => @source._id}
    .form-group
      .col-sm-3
      %label.col-sm-2.control-label{ :for => 'filter_start_date'} Начало периода
      .col-sm-4
        %input.form-control.datepicker{:name => "filter[start_date]", :id => "filter_start_date", :type => "text", :value => @filter[:start_date], :placeholder => 'dd.mm.yyyy'}
    .form-group
      .col-sm-3
      %label.col-sm-2.control-label{ :for => 'filter_end_date'} Конец периода
      .col-sm-4
        %input.form-control.datepicker{:name => "filter[end_date]", :id => "filter_end_date", :type => "text", :value => @filter[:end_date], :placeholder => 'dd.mm.yyyy'}
    .form-group
      .col-sm-3
      %label.col-sm-2.control-label{ :for => 'filter_search'} Code by source
      .col-sm-4
        %input.form-control{:name => "filter[search]", :id => "filter_search", :type => "text", :placeholder => "00000000000", :value => @filter[:search]}
    .form-group
      .col-sm-3
      %label.col-sm-2.control-label{ :for => 'filter_created_by'} Тип добавления
      .col-sm-4
        %select.form-control{:name => "filter[created_by]", :id => "filter_created_by"}
          %option{ :value => '' } Все
          %option{:value => :parser, :selected => @filter[:created_by].to_sym == :parser} Автоматическое
          %option{:value => :human, :selected => @filter[:created_by].to_sym == :human} Ручное
    .form-group
      .col-sm-3
      .col-sm-4
        %input.btn.btn-primary{:type => "submit", :value => "Искать" }
  %hr

.container-fluid
  %table.table.table-striped.table-condensed
    = will_paginate @tenders, renderer: BootstrapPagination::Sinatra
    %thead
    - unless params[:source_id].nil?
      %a.btn.btn-info.pull-right{href: "/tenders/new?source_id=#{@source._id}", style: "margin-bottom: 10px;"}
        %b +
        Add new tender
      %tr
        %td Code by source
        %td Source
        %td Tender title
        %td Link
        %td Created At
        %td Updated At
        %td Delete
    %tbody
      - @tenders.each do |tender|
        %tr
          %td
            %a{ href: "/tenders/show/#{tender.id}"}= tender.code_by_source
          %td
            %a{ href: "/tenders?source_id=#{tender.source_id}"}= tender.source.name
          %td= tender.title
          %td
            %a{ href: tender.source_link, target: "_blank"}= tender.source_link
          %td= tender.created_at.strftime("%d %B %Y (%R)") if tender.created_at
          %td= tender.updated_at.strftime("%d %B %Y (%R)") if tender.updated_at
          %td
            %a{ href: "/tenders/#{tender._id}/destroy", onclick: "return ORLY();"} Delete

= will_paginate @tenders, renderer: BootstrapPagination::Sinatra

:javascript
  $('.datepicker').datepicker({
    format: 'dd.mm.yyyy',
    language: 'ru',
    autoclose: true,
    todayHighlight: true,
    weekStart: 1
  });
