- @title = 'Edit cartridge'
%h1 Edit cartridge
.container-fluid
  %form.form-horizontal{:action => "/cartridges/edit", :method => "post"}
    %fieldset
      .form-group
        %label.col-md-4.control-label{:for => "cartridge_id"} ID
        .col-md-4
          %input.form-control.input-md{:id => "cartridge_id", :name => "cartridge_id", :type => "text", :size => 20, :value => @cartridge._id, readonly:true}
      .form-group
        %label.col-md-4.control-label{:for => "cartridge_name"} Name
        .col-md-4
          %input.form-control.input-md{:id => "cartridge_name", :name => "cartridge_name", :type => "text", :size => 20, :value => @cartridge.name}
      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_source"} Source
        .col-md-4
          %select.form-control{ :id => "cartridge_source", :name => "cartridge_source"}
            - @sources.each do |source|
              %option{:value => source._id, :selected => source._id == @cartridge.source_id ? true : false}= source.name
      .form-group
        %label.col-md-4.control-label{:for => "cartridge_base_link"} base_link_template
        .col-md-8
          %input.form-control.input-md{:id => "cartridge_base_link", :name => "cartridge_base_link", :type => "text", :value => @cartridge.base_link_template, :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "cartridge_base_list"} base_list_template
        .col-md-8
          %input.form-control.input-md{:id => "cartridge_base_list", :name => "cartridge_base_list", :type => "text", :value => @cartridge.base_list_template, :size => 20}
      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_tender_type"} tender_type
        .col-md-4
          %select.form-control{ :id => "cartridge_tender_type", :name => "cartridge_tender_type"}
            %option{:value => "223", :selected => @cartridge.tender_type == '223' ? true : false} 223
            %option{:value => "44", :selected => @cartridge.tender_type == '44' ? true : false} 44
      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_reaping_type"} reaping_type
        .col-md-4
          %select.form-control{ :id => "cartridge_reaping_type", :name => "cartridge_reaping_type"}
            %option{:value => :page, :selected => @cartridge.reaping_type == :page ? true : false } page
            %option{:value => :list, :selected => @cartridge.reaping_type == :list ? true : false} list
            %option{:value => :mixed, :selected => @cartridge.reaping_type == :mixed ? true : false} mixed
      .form-group
        %label.col-md-4.control-label{:for => "list_offset"} list_offset
        .col-md-2
          %input.form-control{:id => "offset_start", :name => "offset_start", :type => "text", :size => 20, :value => @cartridge.list_offset.nil? ? 0 : @cartridge.list_offset["start"] }
        .col-md-2
          %input.form-control{:id => "offset_end", :name => "offset_end", :type => "text", :size => 20, :value => @cartridge.list_offset.nil? ? 0 : @cartridge.list_offset["end"] }
      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_activity"} Активность
        .col-md-4
          %select.form-control{ :id => "cartridge_activity", :name => "cartridge_activity"}
            %option{:value => "active", :selected => @cartridge.is_active? ? true : false } Включен
            %option{:value => "blocked", :selected => @cartridge.is_active? ? false : true } Выключен
      .form-group
        %label.col-md-4.control-label{:for => "delay_between_tenders"} Задержка между парсингом(сек)
        .col-md-4
          %input.form-control.input-md{:id => "delay_between_tenders", :name => "delay_between_tenders", :type => "text", :size => 20, :value => @cartridge.delay_between_tenders}
    %fieldset
      %h1 Page Manager
      .form-group
        %label.col-md-4.control-label{:for => "pm_id"} ID
        .col-md-4
          %input.form-control.input-md{:id => "pm_id", :name => "pm_id", :type => "text", :size => 20, :value => @pm._id, readonly:true}
      .form-group
        %label.col-md-4.control-label{:for=> "pm_type"} action_type
        .col-md-4
          %select.form-control{ :id => "pm_type", :name => "pm_type"}
            %option{:value => :get, :selected => @pm.action_type == :get ? true : false} get
            %option{:value => :js, :selected => @pm.action_type == :js ? true : false} js
            %option{:value => :click, :selected => @pm.action_type == :click ? true : false} click
        .form-group
        %label.col-md-4.control-label{:for => "pm_value"} action_value
        .col-md-6
          %textarea.form-control.input-md{:id => "pm_value", :name => "pm_value", :type => "text", :raws => 15}= @pm.action_value
        .form-group
          %label.col-md-4.control-label{:for => "pm_num_start"} page_number_start_value
          .col-md-4
            %input.form-control.input-md{:id => "pm_num_start", :name => "pm_num_start", :type => "text", :placeholder => "", :size => 20, :value => @pm.page_number_start_value }
        .form-group
          %label.col-md-4.control-label{:for => "pm_delay"} delay_between_pages
          .col-md-4
            %input.form-control.input-md{:id => "pm_delay", :name => "pm_delay", :type => "text", :placeholder => "", :size => 20, :value => @pm.delay_between_pages }
        .form-group
          %label.col-md-4.control-label{:for => "leading_zero"} leading_zero
          .col-md-4
            .checkbox
              %label.pull-left
                %input{:id => "leading_zero", :name => "leading_zero", :type => "checkbox", :checked => @pm.leading_zero ? true : false} enabled
    %fieldset
      %h1 Default values
      .form-group#default_values
        - unless @cartridge.default_tender_values.to_s.empty?
          - @cartridge.default_tender_values.each do |field, value|
            %input{ :type => "hidden", :name => "#{field}", :value => "#{value}", :class => "default_values"}
      .form-group
        .col-xs-5.col-md-offset-3
          %input.btn.btn-primary.btn-lg{:name => "submint", :type => "submit", :value => "Сохранить"}
          %a.btn.btn-danger.btn-lg{:href => "/cartridges/destroy/#{@cartridge._id}", :name => "delete", :type => "submit", :value => "Удалить", :method => "get", :onclick => "return ORLY();"} Удалить

.container-fluid
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %td Value Type
        %td Selector
        %td Is active?
    %tbody
    - @value_types.each do |s|
    - is_exist = @used_keys.include?(s)
      %tr{:class => is_exist ? "success" : ""}
        %td= s
        - if is_exist
          %td
            - i = 0
            - @selectors.where(value_type: s).order_by(priority: :asc).each do |selector|
              %a{href: "#{@cartridge._id}/selector/#{selector._id}", title: "Priority: #{selector.priority}"} #{selector.value_type} #{i += 1}
              &nbsp;&nbsp;&nbsp;
              %a.btn.btn-danger.btn-xs{ href: "#{@cartridge._id}/selector/#{selector._id}/destroy", onclick: "return ORLY();"}
                %span.glyphicon.glyphicon-remove
              %br
            %a{href: "/cartridges/edit/#{@cartridge.id}/add_s/#{s}"} Create
          %td
            - @selectors.where(value_type: s).order_by(priority: :asc).each do |selector|
              = selector.is_active ? "Yes" : "No"
              %br
        - else
          %td
            %a{href: "/cartridges/edit/#{@cartridge.id}/add_s/#{s}"} Create
          %td

.container-fluid
  %p
    %a{ href: "/cartridges/edit/#{@cartridge.id}/add_s"} Add new selector
    |
    %a{ href: "/cartridges/priority/#{@cartridge.id}"} Priority


%script{:type => 'text/javascript', :src => "/javascripts/cartridge-default-values.js" }