- @title = 'Edit source'
%h1 Изменить источник
.container-fluid
  %form.form-horizontal{:action => "/sources/edit", :method => "post"}
    %fieldset
      .form-group
        %label.col-md-4.control-label{:for => "source_id"} ID источника
        .col-md-5
          %input.readonly.form-control.input-md{:id => "source_id", :name => "source_id", :type => "text", :size => 20, :value => @sources.id, readonly:true}

      .form-group
        %label.col-md-4.control-label{:for => "source_name"} Название источника
        .col-md-5
          %input.form-control.input-md{:id => "source_name", :name => "source_name", :type => "text", :placeholder => "", :size => 20, :value => @sources.name}
      .form-group
        %label.col-md-4.control-label{:for => "source_url"} URL источника
        .col-md-5
          %input.form-control.input-md{:id => "source_url", :name => "source_url", :type => "text", :placeholder => "", :size => 20, :value => @sources.url}
      .form-group
        %label.col-md-4.control-label{:for => "source_activity"} Активность
        .col-md-5
          %select.form-control{:id => "source_activity", :name => "source_activity"}
            %option{:value => "active", :selected => @sources.is_active ? true : false } Включен
            %option{:value => "blocked", :selected => @sources.is_active ? false : true } Выключен

      .form-group
        %label.col-md-4.control-label{:for => "source_external_site_id"} ID во внешней базе
        .col-md-5
          %input.form-control.input-md{:id => "source_external_site_id", :name => "source_external_site_id", :type => "text", :placeholder => "", :size => 20, :value => @sources.external_site_id}
      .form-group
        %label.col-md-4.control-label{:for => "source_comment"} Комментарий источника
        .col-md-5
          %textarea.form-control{:id => "source_comment", :name => "source_comment", :type => "text", :raws => 3}= @sources.comment
      .form-group
        %label.col-md-4.control-label{:for => "resque_frequency"} Кол-во минут между запуском
        .col-md-5
          %input.form-control.input-md{:id => "resque_frequency", :name => "resque_frequency", :type => "text", :value => "#{@sources.resque_frequency}", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "deep_level"} Количество парсиуемых тендеров
        .col-md-5
          %input.form-control.input-md{:id => "deep_level", :name => "deep_level", :type => "text", :value => "#{@sources.deep_level}", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "priority"} Приоритет
        .col-md-5
          %select.form-control{:id => "priority", :name => "priority"}
            - YAML.load_file('config/dictionaries/resque_priorities.yml').symbolize_keys!.each do |priority, params|
              - if params["type"] == "auto"
                %option{:value => priority, :selected => @sources.priority == priority}
                  #{params["name"]}
      .form-group
        %label.col-md-4.control-label{:for => "source_type"} Тип источника
        .col-md-5
          %select.form-control{:id => "source_type", :name => "source_type"}
            %option{ :value => "auto", :selected => @sources.source_type == :auto} Auto
            %option{ :value => "manual", :selected => @sources.source_type == :manual} Manual
      .form-group
        .col-xs-5.col-md-offset-3
          %input.btn.btn-primary.btn-lg{:name => "submint", :type => "submit", :value => "Сохранить"}
          %a.btn.btn-danger.btn-lg{:href => "/sources/destroy/#{@sources.id}", :name => "delete", :type => "submit", :value => "Удалить", :method => "get", :onclick => "return ORLY();"} Удалить

.container-fluid
  %table.table.table-condensed.table-bordered
    %thead
      %tr
        %td Cartridge
        %td Delete
        %td Is active?
    %tbody
    - @cartridges.each do |s|
      %tr{:class => s.is_active ? "success" : "" }
        %td
          %a{ href: "/cartridges/edit/#{s.id}"}
            %b= s.name
        %td
          %a{ href: "/cartridges/destroy/#{s.id}"} Delete
        %td= s.is_active ? "Yes" : "No"

.container-fluid
  %p
    %a{ href: "/cartridges/new?source_id=#{@sources.id}"} Add new cartridge



