- @title = 'View tender'
%h1 Просмотр тендера [#{@tenders._id}]
.container-fluid
  %table.table.table-hover.table-condensed.table-bordered
    %tbody
      %tr
        %td Предмет контракта
        %td= @tenders.title
      %tr
        %td Код аукциона
        %td= @tenders.code_by_source
      %tr
        %td Начальная цена
        %td= @tenders.start_price
      %tr
        %td Форма тендера
        %td= @tenders.tender_form
      %tr
        %td Заказчик
        %td
          #{@tenders.customer_inn}
          %br
          #{@tenders.customer_name}
          %br
          #{@tenders.customer_address}
      %tr
        %td ОКДПС
        %td
          - if @tenders.work_type
            - @tenders.work_type.each do |w|
              #{w["code"]}: #{w["title"]}
              %br
          - else
            none
      %tr
        %td URL извещения
        %td
          %a{ href: "#{@tenders.source_link}"}= @tenders.source_link
      %tr
        %td id_by_source
        %td= @tenders.id_by_source
      %tr
        %td group
        %td= @tenders.group
      %tr
        %td external_work_type
        %td= @tenders.external_work_type
      %tr
        %td external_db_id
        %td= @tenders.external_db_id
      %tr
        %td external_region_id
        %td= @tenders.external_region_id
      %tr
        %td external_city_id
        %td= @tenders.external_city_id
      %tr
        %td created_at
        %td= @tenders.created_at
      %tr
        %td start_at
        %td= @tenders.start_at
      %tr
        %td published_at
        %td= @tenders.published_at
      %tr
        %td updated_at
        %td= @tenders.updated_at
      %tr
        %td documents
        %td
          - if @tenders.documents
            - @tenders.documents.each do |t|
              %a{ href: "#{t["doc_link"]}",  target: "_blank"}= t["doc_title"]
              %br
          - else
            none


.container-fluid
  .col-xs-5.col-md-offset-3
    %a.btn.btn-primary.btn-lg{:href => env['HTTP_REFERER'], :method => "get"} Назад
    %a.btn.btn-danger.btn-lg{:href => "/tenders/#{@tenders._id}/destroy", :name => "delete", :type => "submit", :value => "Удалить", :method => "get", :onclick => "return ORLY();"} Удалить
